# http://git-scm.com/docs/gitignore

# Eclipse
**/.project
**/.settings
**/.classpath
**/.springBeans

# Intellij
**/.idea/**
**/*.iml
**/*.ipr
**/*.iws
.idea
*.iml

# misc
**/classes/**
**/.external*
**/target/**
webclients/testing-webservice-webclient/overlays/
target
**/test-output/**
**/junk/**
**/*.log
**/.DS_STORE

bin
